@media (max-width: 1025px) {
    .header {
        .container {
            .navbar {
                position: relative;
                .nav-wrap {
                    .btn-menu {
                        display: block !important;
                        color: #fff;
                        font-size: 30px;
                        margin-right: 15px;
                    }
                    .nav {
                        display: none;
                        text-align: center;
                        position: absolute;
                        right: 0;
                        left: 0;
                        top: 120px;
                        text-align: center;
                        z-index: 50;
                        .nav-item {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}